<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <button>JOIN NOW</button>
      <ul>
        <li>
          {{course.level}}
        </li>
      </ul>
    </div>

    <div class="col-lg-9">
      <h2>{{course.name}}</h2>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/{{course.videoId}}?si=hVYfsbv5P1R7RI6s"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
        tenetur distinctio quam magni tempore inventore quidem veritatis dolor
        temporibus saepe provident, laudantium aliquid rem excepturi fuga totam
        commodi ipsum iusto.</p>
    </div>
  </div>
</div>